<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Bienvenido a Quizt</h1>
    <h2>Seleccione un cuestionario:</h2>

    <form action="{{ url_for('index') }}" method="post">
        <select name="quiz">
            {% for id, name in quises %}
            <option value="{{ id }}">{{ name }}</option>
            {% endfor %}
        </select>
        <p><input type="submit" value="Seleccionar"></p>
    </form>
</body>

</html>
